doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  script(src='javascripts/socket.io.js')
  script.
    var socket = io('http://localhost:3000');
    socket.on('connect', function () {
      console.log('connect');
    });
    socket.on('message', function (data) {
      console.log('data', data);
      document.getElementById('messages').innerHTML += '</br><div id="idChild"> user: '+data.user+' message :'+data.message+'</div>';
      //document.getElementById("messages").innerHTML("<b>"+ data.message+"</b>");
    });
    socket.on('disconnect', function () {
      console.log('disconnect');
    });
    function sendData() {

      var messageData =document.getElementById('message-data').value;
      var user =document.getElementById('name-user').value;

      if((messageData!='' && messageData) && (user!='' && user)){
        var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance
        xmlhttp.open("POST", "/api/send-message");
        xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xmlhttp.send(JSON.stringify({"user":user, "message":messageData}));
        document.getElementById('message-data').value = '';
      }

    }
